@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, '微软雅黑';
}
html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, '微软雅黑';
}
.userMain_common{
    width: 100%;
    height: 100%;
    padding: 20px 30px;
}
.userMain_common .userItem_com{
    width: 100%;
    padding: 8px 0;
    margin: 0 !important;
}
.userMain_common .label_common{
    display: inline-block;
    width: 120px !important;
    text-align: right;
    font-size: 15px;
    color: #000;
    line-height: 40px;
    padding: 0 !important;
}
.userMain_common .block_common{
    width: 200px !important;
    margin-left: 0 !important;
    display: inline-block;
}
.userMain_common .input_common{
    display: inline-block;
    width: 200px;
    height: 40px;
    border: 1px solid #333;
    padding: 0 12px;
    font-size: 15px;
    color: #333;
    line-height: 38px;
}
.userMain_common .btn_radio{
    margin-left: 10px;
}
.userItem_com .layui-btn-primary{
    width: 92px !important;
}
.userItem_btns{
    text-align: center;
}
/*授权*/
.roleauth_main .layui-form{
    width: 100%;
    height: 100%;
}
.layui-form .xtree_contianer{
    width: 100%;
    height: 416px;
    overflow: auto;
}
.xtree_contianer>.layui-xtree-item>.layui-unselect>span{
    background: url("../images/icon33.png") no-repeat left center/20px 20px;
    margin-left: 10px;
    padding-left: 24px;
}
.xtree_contianer>.layui-xtree-item:nth-of-type(1)>.layui-xtree-item:nth-of-type(2)>.layui-unselect>span{
    background: url("../images/user_man.png") no-repeat left center/14px 14px;
    margin-left: 10px;
    padding-left: 18px;
}
.xtree_contianer>.layui-xtree-item:nth-of-type(1)>.layui-xtree-item:nth-of-type(3)>.layui-unselect>span{
    background: url("../images/menu.png") no-repeat left center/14px 14px;
    margin-left: 10px;
    padding-left: 18px;
}
.xtree_contianer>.layui-xtree-item:nth-of-type(1)>.layui-xtree-item:nth-of-type(4)>.layui-unselect>span{
    background: url("../images/character.png") no-repeat left center/14px 14px;
    margin-left: 10px;
    padding-left: 18px;
}
.xtree_contianer>.layui-xtree-item:nth-of-type(1)>.layui-xtree-item:nth-of-type(5)>.layui-unselect>span{
    background: url("../images/logs.png") no-repeat left center/14px 14px;
    margin-left: 10px;
    padding-left: 18px;
}
.xtree_contianer>.layui-xtree-item:nth-of-type(1)>.layui-xtree-item:nth-of-type(6)>.layui-unselect>span{
    background: url("../images/system.png") no-repeat left center/14px 14px;
    margin-left: 10px;
    padding-left: 18px;
}
.xtree_contianer>.layui-xtree-item:nth-of-type(2)>i{
    display: none !important;
}
.div-btns{
    padding: 5px 20px;
    margin-top: 20px;
}
