<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑</title>
</head>
<body>
<div class="layui-fluid" style="margin-top: 10px">
    <div class="layui-card">
        <form class="layui-form" action="" lay-filter="layui-form-filter">
            <div class="layui-form-item">
                <label class="layui-form-label">类别名称</label>
                <div class="layui-input-block">
                    <input name="id" type="hidden">
                    <input type="text" name="name" required lay-verify="required" placeholder="请输入类别名称"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类别类型</label>
                <div class="layui-input-block"  >
                    <input type="radio"  lay-filter="type" name="type" value="0" title="父类">
                    <input type="radio"  lay-filter="type" name="type" value="1" title="子类" checked>
                </div>
            </div>
            <div class="layui-form-item layui-form-label-parentid">
                <label class="layui-form-label">父类类型</label>
                <div class="layui-input-block">
                    <select name="parentid" class="layui-select-parentid" lay-verify="required" >
                        <option value="">请选择</option>
                        <option th:each="pcategory:${pCategorys}"  th:value="${pcategory.id}"><span th:text="${pcategory.name}"></span></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formsub">立即提交</button>
                    <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script src="../../../public/bus.js"></script>
<script src="../../../pc/js/category/category.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var category = [[${category}]];
    /*]]>*/
    var type = category.parentid!=0? "1":"0";

    if (type=="0"){
        $(".layui-form-label-parentid").hide();
        $(".layui-select-parentid").removeAttr('lay-verify');
        $(".layui-select-parentid").removeAttr('name');
    }else {
        $(".layui-form-label-parentid").show();
        $(".layui-select-parentid").attr("name","parentid");
    }

    //layui 2.3.0之后有的form.val()    贫道用来回显数据了  ^_^
layui.use('form',function () {
    var form = layui.form;
    form.val("layui-form-filter", {
        "name": category.name
        ,"id": category.id
        ,"type": type
        ,"parentid": category.parentid
    })
})

</script>
</html>