<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>角色</title>
    </head>
    <body>
        <div class="layui-fluid" style="margin-top: 10px">
            <div class="layui-card">
                <form class="layui-form" action=""  lay-filter="layui-form-filter">
                    <input type="hidden" name = "id" th:value="${user.id}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">学历</label>
                        <div class="layui-input-block">
                            <select name="roleid" class="layui-select-parentMenucode" lay-verify="required" >
                                <option value="-1">请选择</option>
                                <option th:each="role:${roles}" th:if="${role.insertusername==userlogin.username}"  th:value="${role.id}"><span th:text="${role.name}"></span></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formsubrole">立即提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
    <script src="../../../public/bus.js"></script>
    <script src="../../../pc/js/user/user.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
var user = [[${user}]];
/*]]*/
layui.use('form',function () {
    var from = layui.form;
    var roleid = user.role==null?-1:user.role.id;
    from.val("layui-form-filter",{
        roleid: roleid
    })
})
</script>
</html>