<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>新增</title>
    </head>
    <body>
        <div class="layui-fluid" style="margin-top: 10px">
            <div class="layui-card">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">菜单类型</label>
                        <div class="layui-input-block"  >
                            <input type="radio"  lay-filter="menuType" name="menuType" value="0" title="父类">
                            <input type="radio"  lay-filter="menuType" name="menuType" value="1" title="子类" checked>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">菜单名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="menuName" required lay-verify="required" placeholder="请输入菜单名称"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">菜单URL</label>
                        <div class="layui-input-block">
                            <input type="text" name="menuUrl" required lay-verify="required" placeholder="请输入菜单URL"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">编码-简称</label>
                        <div class="layui-input-block">
                            <input type="text" name="menuCode" required lay-verify="required" placeholder="请输入编码【简称】"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-label-parentMenucode">
                        <label class="layui-form-label">父菜单类型</label>
                        <div class="layui-input-block">
                            <select name="parentMenucode" class="layui-select-parentMenucode" lay-verify="required" >
                                <option value="">请选择</option>
                                <option th:each="menu:${pMenus}"  th:value="${menu.menuCode}"><span th:text="${menu.menuName}"></span></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-label-parentMenucode">
                        <label class="layui-form-label">菜单按钮</label>
                        <div class="layui-input-block" >
                            <input type="checkbox" th:value="${bt.id}" class="layui-form-label-buttons"  th:each="bt:${buttons}" name = "buttons" th:title="${bt.buttonName}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formsub">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
    <script src="../../../public/bus.js"></script>
    <script src="../../../pc/js/menu/menu.js"></script>
</html>