<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mo.fang.springcloudsystem.system.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.mo.fang.springcloudsystem.system.entity.Role" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="INSERTTIME" property="inserttime" jdbcType="TIMESTAMP" />
    <result column="INSERTUSERNAME" property="insertusername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CODE, NAME, INSERTTIME, INSERTUSERNAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from oa_sys_role
    where ID = #{id,jdbcType=INTEGER}
  </select>
    <select id="getAllRoles" resultMap="BaseResultMap" parameterType="com.mo.fang.springcloudsystem.system.entity.Role">
        select
        <include refid="Base_Column_List" />
        from oa_sys_role
        <where>
            <if test="name!=null and name!=''">
                and name like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="code!=null and code!=''">
                and code like CONCAT('%',#{code,jdbcType=VARCHAR},'%')
            </if>
        </where>
        order by INSERTTIME
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oa_sys_role
    where ID = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="delAuthAndUandRole">
        delete from oa_sys_uandr where roleid = #{id}
    </delete>
    <delete id="delAuthByOwnerId">
        delete from oa_sys_auth where ownerid = #{id} and type = '1'
    </delete>
  <insert id="insert" parameterType="com.mo.fang.springcloudsystem.system.entity.Role" >
    insert into oa_sys_role (ID, CODE, NAME, 
      INSERTTIME, INSERTUSERNAME)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{inserttime,jdbcType=TIMESTAMP}, #{insertusername,jdbcType=VARCHAR})
  </insert>
    <insert id="saveOrUpdateRole" parameterType="com.mo.fang.springcloudsystem.system.entity.Role" >
        insert into oa_sys_role (
        <if test="id != null and id!='' " >
            id,
        </if>
        CODE, NAME,
        INSERTTIME, INSERTUSERNAME)
        values (
        <if test="id != null and id!='' " >
            #{id,jdbcType=INTEGER},
        </if>
        #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        sysdate(), #{insertusername,jdbcType=VARCHAR}
        )
        ON DUPLICATE KEY UPDATE
        CODE = #{code,jdbcType=VARCHAR},
        NAME =  #{name,jdbcType=VARCHAR},
        INSERTUSERNAME = #{insertusername,jdbcType=VARCHAR},
        INSERTTIME = sysdate()
    </insert>
  <insert id="insertSelective" parameterType="com.mo.fang.springcloudsystem.system.entity.Role" >
    insert into oa_sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="inserttime != null" >
        INSERTTIME,
      </if>
      <if test="insertusername != null" >
        INSERTUSERNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null" >
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertusername != null" >
        #{insertusername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mo.fang.springcloudsystem.system.entity.Role" >
    update oa_sys_role
    <set >
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null" >
        INSERTTIME = #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertusername != null" >
        INSERTUSERNAME = #{insertusername,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mo.fang.springcloudsystem.system.entity.Role" >
    update oa_sys_role
    set CODE = #{code,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      INSERTTIME = #{inserttime,jdbcType=TIMESTAMP},
      INSERTUSERNAME = #{insertusername,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>