<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote quoteBox">
    <form class="layui-form">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" class="layui-input searchVal" id="username-search" name="username" placeholder="登录名" />
            </div>
            <div class="layui-input-inline">
                <input type="text" class="layui-input searchVal" id="name-search" name="name" placeholder="姓名" />
            </div>
            <div class="layui-input-inline">
                    <select id="department-search" name="department" lay-verify="required">
                        <option value=""></option>
                        <option th:each="department:${departments}" th:value="${department.id}" th:text="${department.name}"></option>
                    </select>
            </div>
            <a class="layui-btn search_btn" data-type="reload">搜索</a>
        </div>
        <div class="layui-inline">
            <shiro:hasPermission name="usermsg:add"><a class="layui-btn btn-add layui-btn-normal addNews_btn" lay-event="add">添加</a></shiro:hasPermission>
        </div>
    </form>
</blockquote>
<table id="table_obj" lay-filter="obj"></table>
    <div>
    <p type="text/html" id="bar" style="display: none">
        <shiro:hasPermission name="usermsg:del"><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" title="删除">删</a></shiro:hasPermission>
        <shiro:hasPermission name="usermsg:edit"><a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit" title="修改">改</a></shiro:hasPermission>
        <shiro:hasPermission name="usermsg:auth"><a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="role" title="角色">角</a></shiro:hasPermission>
    </p>
</div>
</body>
<script src="../../public/bus.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
      var departments = [[${departments}]];
      var qualifications = [[${qualifications}]];
      var poztses = [[${poztses}]];
   /* ]]>*/
</script>
<!--直接在；layui中使用thymeleaf 取作用域中的值 产生中文变成Unicode的问题-->
<script  type="text/html" id="sexcode">
    {{#
    if(d.sexcode == '1'){
         return '男'
      }else{
         return '女'
    }
    }}
</script>
<script  type="text/html" id="havewife">
    {{#
    if(d.havewife == '1'){
         return '已婚'
      }else{
         return '未婚'
    }
    }}
</script>
<script  type="text/html" id="departmentid">
    {{#
    if(d.departmentid != null&&d.departmentid != ''){
    for(var department of departments){
    if(department.id==d.departmentid){return department.name;}
    }
    }
    }}
</script>
<script  type="text/html" id="qualificationid">
    {{#
    if(d.qualificationid != null&&d.qualificationid != ''){
    for(var qualification of qualifications){
    if(qualification.id==d.qualificationid){return qualification.name;}
    }
    }
    }}
</script>
<script  type="text/html" id="postid">
    {{#
    if(d.postid != null&&d.postid != ''){
    for(var pozts of poztses){
    if(pozts.id==d.postid){return pozts.name;}
    }
    }
    }}
</script>
<script  type="text/html" id="role">
    {{#
    if(d.role != null&&d.role.id != ''){
    return d.role.name;

    }else{
    return "未分配角色";
    }
    }}
</script>
<script src="../../js/user/user.js"></script>
</html>